<div class="jumbotron jumbotron-fluid bg-primary">
    <h1 class="display-4 text-center">File Upload System</h1>
</div>
<div class="container mt-5">
    <div class="text-center">
        <input type="file" (change)="onChange($event)" class="form-group">
        <button (click)="onUpload()" class="btn btn-success">Upload File</button>
    </div>
    <div class="container text-center" *ngIf="shortLink">
        <h2>Visit Here</h2>
        <a href="{{shortLink}}" target="_blank">{{shortLink}}</a>
    </div>
    <div class="container" *ngIf="loading">
        <h3>Loading data.....</h3>
    </div>
</div>
